<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JerryMouse</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TeleMedicineServlet</display-name>
    <servlet-name>TeleMedicineServlet</servlet-name>
    <servlet-class>servlet.TeleMedicineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeleMedicineServlet</servlet-name>
    <url-pattern>/TeleMedicineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LiveVideoServlet</display-name>
    <servlet-name>LiveVideoServlet</servlet-name>
    <servlet-class>servlet.LiveVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiveVideoServlet</servlet-name>
    <url-pattern>/LiveVideoServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>ARCHIVE_HOME</param-name>
    <param-value>D:/Project</param-value>
  </context-param>
  <context-param>
    <param-name>VIDEO_PATH</param-name>
    <param-value>/video</param-value>
  </context-param>
  <context-param>
    <param-name>IMAGE_PATH</param-name>
    <param-value>/image</param-value>
  </context-param>
  <context-param>
    <param-name>LIVE_VIDEO_PATH</param-name>
    <param-value>/livevideo</param-value>
  </context-param>
  <context-param>
    <param-name>PDF_PATH</param-name>
    <param-value>/pdf</param-value>
  </context-param>
  <listener>
    <listener-class>servlet.InitListener</listener-class>
  </listener>
</web-app>